@{
    ViewData["Title"] = "Library Search";
}

@model SearchViewModel

<div class="container-search">
    <div class="search-filters">
        <form class="filters" asp-controller="Home" asp-action="Index" method="post">
            <label asp-for="Age"></label>
            <select class="select" asp-for="Age" asp-items="Model.AvailableAges">
                <option></option>
            </select>

            <label asp-for="Author"></label>
            <select class="select" asp-for="Author" asp-items="Model.AvailableAuthors">
                <option></option>
            </select>

            <label asp-for="Genre"></label>
            <select class="select" asp-for="Genre" asp-items="Model.AvailableGenres">
                <option></option>
            </select>

            <label asp-for="Form"></label>
            <select class="select" asp-for="Form" asp-items="Model.AvailableForms">
                <option></option>
            </select>

            <label asp-for="Location"></label>
            <select class="select" asp-for="Location" asp-items="Model.AvailableLocations">
                <option></option>
            </select>

            <label asp-for="Type"></label>
            <select class="select" asp-for="Type" asp-items="Model.AvailableTypes">
                <option></option>
            </select>

            <label asp-for="Publisher"></label>
            <select class="select" asp-for="Publisher" asp-items="Model.AvailablePublishers">
                <option></option>
            </select>

            <label asp-for="Series"></label>
            <select class="select" asp-for="Series" asp-items="Model.AvailableSeries">
                <option></option>
            </select>

            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <div class="search-results">
        <div class="results">
            <h1>Results</h1>

            @if (Model.Results != null)
            {
                for(var i = 0; i < Model.Results.Count(); i++)
                {
                    <p>@Model.Results[i].ToString()</p>
                }
            }
        </div>
    </div>
</div>
