html {
    position: relative;
    height: 100%;
    font-size: 62.5%;
    min-width: 768px;
}

body {
    height: 100%;
}

h1 {
    font-size: 2.4rem;
}

h1.header {
    margin-bottom: 16px;
    font-size: 1.4rem;
    font-weight: 600;
}

h1.publication-title {
    font-weight: 600;
    font-size: 2.8rem;
}

h2 {
    font-size: 2.2rem;
}

h2.publication-subtitle {
    font-size: 1.8rem;
    font-weight: 400;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.4rem;
}

div, span, select, option, button, input, a, p, i {
    font-size: 1.4rem;
}

p.heading {
    margin-right: 8px;
    font-weight: 600;
}

img.publication-thumbnail {
    width: 100%;
}

button.btn {
    border: 1px solid #DEE2E6;
    border-radius: .25rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #495057;
    transition: all ease-in-out .1s;
    min-width: 92px;
}

button.btn:hover {
    border: 1px solid #75c275;
    color: black;
    transition: all ease-in-out .1s;
    background-color: #90ee90;
}

select.custom-select {
    color: #495057;
    transition: all ease-in-out .1s;
}

select.custom-select:hover {
    /*color: black;
    transition: all ease-in-out .1s;*/
}

select.custom-select:focus {
    box-shadow: none;
    border-color: #ced4da;
}

a.btn {
    border: 1px solid #DEE2E6;
    border-radius: .25rem;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    color: #495057 !important;
    transition: all ease-in-out .1s;
    min-width: 92px;
}

a.btn:hover {
    border: 1px solid #75c275;
    color: black !important;
    transition: all ease-in-out .1s;
    background-color: #90ee90;
}

a.btn#clear-filters:hover {
    border: 1px solid #dc143c;
    background-color: #e55471;
}

main {
    height: 100%;
}

.container#container-product {
    padding-top: 64px;
    padding-bottom: 16px;
}

.container-fluid {
    padding: 0;
}

.container-fluid#main {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
}

.container-search {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 48px;
}

.container-search .search-filters {
    width: 256px;
    padding: 16px 8px;
    border-right: 1px solid #DEE2E6;
}

.container-search .search-filters .filters {
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.navbar {
    border-bottom: 1px solid #DEE2E6;
}

.navbar .navbar-nav:last-child {
    margin-right: auto;
}

.navbar .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar .search #search-group {
    width: 512px;
}

.navbar .search #search-group .form-control {
    border-radius: .25rem;
}

.navbar .search h1.header {
    margin-bottom: 0;
}

.navbar .search input {
    margin-bottom: 0;
    margin-right: 8px;
}

.container-search .search-filters .filters label,
.container-search .search-filters .filters select,
.navbar .search input {
    font-size: 1.4rem;
}

.container-search .search-filters .filters select,
.container-search .search-filters .filters label,
.container-search .search-filters .filters button,
.container-search .search-filters .filters a {
    margin-bottom: 8px;
}

.container-search .search-results {
    width: 100%;
    padding: 16px;
    overflow: auto;
}

.container-search .search-results .results {
    display: flex;
    flex-direction: column;
}

.container-search .search-results .results .result {
    margin: 0 0 8px 0;
    padding: .375rem 1.75rem .375rem .75rem;
    border: 1px solid #DEE2E6;
    border-radius: .25rem;
}

nav.navbar {
    height: 48px;
    z-index: 1000;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
}

nav.navbar .navbar-brand {
    font-size: 1.8rem;
    font-weight: 600;
}

nav.navbar .nav-item .nav-link {
    font-size: 1.4rem;
}

.toast#warning-toast {
    opacity: 1;
    position: absolute;
    top: 64px;
    right: 16px;
    z-index: 1000;
}

.type-attributes {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.type-attributes .badge {
    font-size: 1.2rem;
    padding: 4px 6px;
    margin: 0 8px 0 0;
}

.publication-header {
    padding: 0 16px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-block {
    padding: 0 16px;
    margin-top: 16px;
}

.product-block#publication-metadata {
    margin-top: 0;
}

.stack {
    display: flex;
    flex-direction: row;
}

.stack.inverse {
    flex-direction: column;
}

.stack p:last-child,
.stack.inverse p:last-child {
    margin-bottom: 0;
}
